page{
	height: 100%;
}
.container{
	height: 100%;
	.datePickerComb{
		height: 80rpx;
		padding: 20rpx;
		box-sizing: border-box;
		border-bottom: 1rpx solid $uni-border-color;
	}
	.chart{
		height: calc(100% - 80rpx);
		
	}
}